<!DOCTYPE html>
<html lang="en" xmlns="https://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="x-apple-disable-message-reformatting">
        <title></title>
        <!--[if mso]>
    <noscript>
    <xml>
    <o:OfficeDocumentSettings>
    <o:PixelsPerInch>96</o:PixelsPerInch>
    </o:OfficeDocumentSettings>
    </xml>
    </noscript>
    <![endif]-->

        <style>
            table, td, div, h1, p {font-family: sans-serif;}
        </style>
    </head>
</html>

<body style="margin:0;padding:0">
    <table role="presentation" style="width:100%;border-collapse: collapse;border:0;border-spacing:0;">
        <tr>
            <td align="center" style="padding:0">
                <table role="presentation" style="width:602px;border-collapse: collapse; border:0; border-spacing: 0; text-align: center;">
                    <tr>
                        <td style="padding:  10px 0 20px 0;" align="center">
                            <img src="https://factodev.upmeup.es/assets/cabecera_chat_lq.jpg" alt="" style="height: auto; display: block;">
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 10px 0;">
                            <h2>Tienes 1 mensaje nuevo en UpmeUp de: </h2>
                            
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 20px 0;">
                            <img width="100px" src={{sender_avatar}} alt="avatar" style="border-radius: 50%; height: auto;">
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 0; font-weight: 900;">
                            {{sender_name}}
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 10px 0;">
                            {{sender_jobPosition}}
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 30px 0 40px 0; ">
                            <a href="https://upmeup.io">
                                <button style="border-radius: 100px; border: 0; background:#0d809f ;font-size: 16px;; padding:15px 90px; color: white; cursor: pointer;">Leer mensaje</button> 
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 30px 0;">
                            ¿Aún no has descargado la aplicación de UpmeUp?
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 10px 0 40px 0; ">
                            <a href="https://play.google.com/store/apps/details?id=io.upmeup">
                                <img src="https://factodev.upmeup.es/assets/googleplay.gif">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:  10px 0 20px 0;" align="center">
                            <img src="https://factodev.upmeup.es/assets/pie_chat_lq.jpg" alt="" style="height: auto; display: block;">
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 30px 0;">
                            <p style="font-size: 13px; color:#808080;">Esta comunicación ha sido enviada por UpmeUp a destinatarios con los cuales mantenemos una relación contractual previa o que han solicitado o autorizado expresamente su envío.</p> 
                            <p style=" font-size: 13px; color:#808080;">Si no deseas recibir más comunicaciones, puedes darte de baja en el mail <a href="mailto: hola@upmeup.es?Subject=Baja%20notificaciones%20UpmeUp" style="text-decoration: underline; color:#808080;">hola@upmeup.es </a> </p>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>

    </table>
</body>