<div
    style=" width: 100%; display: grid; justify-content: center; font-family:lato,helvetica neue,helvetica,arial,sans-serif; background-color: white;">
    <img style="padding-bottom: 20px;" src="https://factodev.upmeup.es/assets/cabecera_chat.jpg" alt="" style="width: 100%;">
    <h1 style="max-width: 700px; font-size: 30px; text-align: center; color: black;">
        Tienes 1 mensaje nuevo en UpmeUp de: 
    </h1>
    <div style="justify-content: center; display: grid; align-items: center;">
        <p style="text-align: center;">
            <img width="100px" src={{sender_avatar}} alt="" style="border-radius: 50%; align-self: center;">
        </p>
        
        <p style="max-width: 700px;; font-size: 16px; font-weight: 900; text-align: center; color: black">
            {{sender_name}}
        </p>
        <p style="max-width: 700px; font-size: 16px; font-weight: 500; text-align: center;">
            {{sender_jobPosition}}
        </p>
        <p style="text-align: center;">
            <a href="upmeup.io" style="text-align: center;">
                <button style="border-radius: 100px; background-color: #0f6096; box-sizing: border-box; width: fit-content; color: white; padding-right: 5px; padding-left: 5px; padding-top: 5px; padding-bottom: 5px; cursor: pointer;">Leer mensaje</button> 
            </a>
        </p>
        
    </div>
    
    

    <hr>

    <p style="text-align: center; color: black;">¿Aún no has descargado la aplicación de UpmeUp?</p>
    <p style="text-align: center;">
        <a style="text-align: center;" href="https://play.google.com/store/apps/details?id=io.upmeup"><img src="https://factodev.upmeup.es/assets/googleplay.gif"></a> 
    </p>
    
    <br>
    <img style="padding-top: 20px; padding-bottom: 20px; text-align: center;" src="https://factodev.upmeup.es/assets/pie_chat.jpg" alt="" style="width: 100%;">
    <p style="max-width: 700px; font-size: 13px; text-align: center; padding-top: 20px; color:#808080;">Esta comunicación ha sido enviada por UpmeUp a destinatarios con los cuales mantenemos una relación contractual previa o que han solicitado o autorizado expresamente su envío.</p> 
    <p style="max-width: 700px; font-size: 13px; text-align: center; color:#808080;">Si no deseas recibir más comunicaciones, puedes darte de baja en el mail <a href="mailto: hola@upmeup.es?Subject=Baja%20notificaciones%20UpmeUp"></a> hola@upmeup.es </p>

</div>