<div
    style="display: grid; justify-content: center; font-family:lato,helvetica neue,helvetica,arial,sans-serif; background-color: white;">
    <img  style="padding-bottom: 20px; max-width: 700px;" src="https://factodev.upmeup.es/assets/Cabecera_candidatx_rechazadx.jpeg">
    <hr>
    <h1 style="max-width: 700px; font-size: 30px; color: #4c808e; text-align: center;">
        Cuando una puerta se cierra, otras se abren.
    </h1>
    <p style="max-width: 700px; color:#808080; font-size: 16px;">
        Primero de todo queríamos agradecerte sinceramente por haberte postulado para la oferta laboral "{{ offer_title }}" de {{ company_name }}. Valoramos mucho el tiempo y el esfuerzo que has puesto en tu solicitud.
    </p>
    <hr>
    <p style="max-width: 700px; color:#808080; font-size: 16px;">
        Después de revisar cuidadosamente todas las candidaturas, se ha tomado la decisión de no avanzar con la tuya en esta ocasión. 
    </p>
    <p style="max-width: 700px; color:#808080; font-size: 16px;">
        Te alentamos a que sigas buscando oportunidades que se alineen con tu perfil y experiencia y te agradecemos nuevamente por haberte apuntado a esta oferta laboral.
    </p>

    <p style="max-width: 700px; color:#808080; font-size: 20px;">
    <strong>¡Mucho éxito en tu búsqueda de empleo en UpmeUp!</strong>
    </p>
    
    <img style="padding-top: 20px; padding-bottom: 20px; max-width: 700px;" src="https://factodev.upmeup.es/assets/Pie_candidatx_rechazadx.jpeg">
   
    <div style="display: grid; grid-template-rows: 100px; grid-template-columns: repeat(3, 1fr); justify-content: space-around; justify-items: center; font-size: 12px; color: #656565;">
        <a href="https://twitter.com/UpmeUp" style="text-decoration: none; color: #656565;">
            <div style="display: grid; grid-auto-flow: column; gap: 5px; align-content: center;">
                <img src="https://cdn-images.mailchimp.com/icons/social-block-v2/outline-gray-twitter-48.png"
                    alt="Twitter"
                    style="display: inline-block;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;"
                    height="24" width="24">
                <span>Twitter</span>
            </div>
        </a>
        <a href="https://www.linkedin.com/company/up-me-up/" style="text-decoration: none; color: #656565;">
            <div style="display: grid; grid-auto-flow: column; gap: 5px; align-content: center;">
                <img src="https://cdn-images.mailchimp.com/icons/social-block-v2/outline-gray-linkedin-48.png"
                    alt="LinkedIn"
                    style="display: inline-block;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;"
                    height="24" width="24">
                <span>LinkedIn</span>
            </div>
        </a>
        <a href="https://upmeup.es" style="text-decoration: none; color: #656565;">
            <div style="display: grid; grid-auto-flow: column; gap: 5px; align-content: center;">
                <img src="https://cdn-images.mailchimp.com/icons/social-block-v2/outline-gray-link-48.png" alt="Website"
                    style="display: inline-block;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;"
                    height="24" width="24">
                <span>Website</span>
            </div>
        </a>
    </div>
    <p style="max-width: 700px; font-size: 13px; text-align: center; padding-top: 20px; color:#808080;">Esta comunicación ha sido enviada por UpmeUp a destinatarios con los cuales mantenemos una relación contractual previa o que han solicitado o autorizado expresamente su envío.</p> 
    <p style="max-width: 700px; font-size: 13px; text-align: center; color:#808080;">Si no deseas recibir más comunicaciones, puedes darte de baja en el mail <a href="mailto: hola@upmeup.es?Subject=Baja%20notificaciones%20UpmeUp"></a> hola@upmeup.es </p>
    

</div>