<p>
    Forgot your "UpmeUp!" password? Don't worry! Click on the link below to reset it:
</p>
<p>
    <a href="{{ resetUrl }}">{{ resetUrl }}</a>
</p>
<p>
    If you did not request a password change, please ignore this email.
</p>
<p>
    Thank you,
</p>
<p>
    The "UpmeUp!" Team
</p>