<div
    style=" width: 100%; display: grid; justify-content: center; font-family:lato,helvetica neue,helvetica,arial,sans-serif; background-color: white;">
    <img style="padding-bottom: 20px;" src="https://factodev.upmeup.es/assets/Cabecera_bienvenida.jpeg" alt="" style="width: 100%;">
    <h1 style="max-width: 700px; font-size: 30px; color: #4c808e; text-align: center;">
        ¡Te damos la bienvenida a <strong>UpmeUp </strong>donde el trabajo es mucho más que trabajo!
    </h1>
    <p style="max-width: 700px; color:#808080; font-size: 16px;">
        ¡Bienvenidx a bordo! En UpmeUp, estamos felices de darte la bienvenida a nuestra vibrante comunidad laboral de
        la economía social. Te has unido a una plataforma diseñada para desbloquear tu máximo potencial profesional y
        llevarte a emocionantes caminos dentro de la economía social. Se acabaron las disonancias cognitivas entre lo
        que sientes y lo que haces.
    </p>
    <p style="max-width: 700px; color:#808080; font-size: 16px;">
        Aquí, no solo encontrarás empleo, sino oportunidades que te desafiarán y te llevarán hacia un futuro laboral
        lleno de satisfacción y crecimiento. Estamos dedicados a ayudarte a descubrir un trabajo que no solo se ajuste a
        tus habilidades, sino que también te permita brillar y marcar una diferencia en el mundo.
    </p>
    <p style="max-width: 700px; color:#808080; font-size: 16px;">
        Gracias por confiar en UpmeUp para tu búsqueda de empleo. Estamos aquí para apoyarte en cada paso del camino.
        ¿Estás preparadx?
    </p>
    <hr>
    <img style="padding-top: 20px; padding-bottom: 20px;" src="https://factodev.upmeup.es/assets/Pie_bienvenida.jpeg" alt="" style="width: 100%;">
    <div
        style="max-width: 700px; display: grid; grid-template-columns: repeat(3, 1fr); justify-content: space-around; justify-items: center; font-size: 12px; color: #656565;">
        <a href="https://twitter.com/UpmeUp" style="text-decoration: none; color: #656565;">
            <div style="display: grid; grid-auto-flow: column; gap: 5px; align-content: center;">
                <img src="https://cdn-images.mailchimp.com/icons/social-block-v2/outline-gray-twitter-48.png"
                    alt="Twitter"
                    style="display: inline-block;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;"
                    height="24" width="24">
                <span>Twitter</span>
            </div>
        </a>
        <a href="https://www.linkedin.com/company/up-me-up/" style="text-decoration: none; color: #656565;">
            <div style="display: grid; grid-auto-flow: column; gap: 5px; align-content: center;">
                <img src="https://cdn-images.mailchimp.com/icons/social-block-v2/outline-gray-linkedin-48.png"
                    alt="LinkedIn"
                    style="display: inline-block;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;"
                    height="24" width="24">
                <span>LinkedIn</span>
            </div>
        </a>
        <a href="https://upmeup.es" style="text-decoration: none; color: #656565;">
            <div style="display: grid; grid-auto-flow: column; gap: 5px; align-content: center;">
                <img src="https://cdn-images.mailchimp.com/icons/social-block-v2/outline-gray-link-48.png" alt="Website"
                    style="display: inline-block;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;"
                    height="24" width="24">
                <span>Website</span>
            </div>
        </a>
    </div>
    <p style="max-width: 700px; font-size: 13px; text-align: center; padding-top: 20px; color:#808080;">Esta comunicación ha sido enviada por UpmeUp a destinatarios con los cuales mantenemos una relación contractual previa o que han solicitado o autorizado expresamente su envío.</p> 
    <p style="max-width: 700px; font-size: 13px; text-align: center; color:#808080;">Si no deseas recibir más comunicaciones, puedes darte de baja en el mail <a href="mailto: hola@upmeup.es?Subject=Baja%20notificaciones%20UpmeUp"></a> hola@upmeup.es </p>

</div>